/* Start documentation header comment

PowerMILL Setup Sheets: default cascading style sheet

=============================================================================
COPYRIGHT 2005 DELCAM PLC., BIRMINGHAM, ENGLAND.
=============================================================================

History.
DICC  Who When     What
===== === ======== ==========================================================
55767 SPD 26/04/05 Written, based on work done by AW.
55886 SPD 28/04/05 Formatting for error message, a4page and index classes.
55941 SPD 09/05/05 Improve the appearance of printed output.
56175 SPD 20/05/05 Formatting for regeneration link, and browser controls.
56285 SPD 02/06/05 Added VML stuff, and no_print_breaks class for <thead>.
56775 SPD 05/07/05 Changes to the image classes.
56844 SPD 11/07/05 Added vspace class, for improved print layout.
57697 SPD 14/09/05 Added a comment about US Letter paper.
59645 SPD 05/02/06 Word wrapping now done here; no longer hard-coded.
60056 SPD 03/03/06 Added the wrapped class for spans.
60450 SPD 24/03/06 Made snapshot image widths automatic.
60637 SPD 05/04/06 Snapshot image display tweaks.
=============================================================================

End documentation header comment */


/* GENERAL FORMATTING: */

body {
  position: absolute;
  left: 0.0cm;
  top: 0.0cm;
  width: auto;
  height: auto;
  margin: 0.0cm;
  padding: 0.0cm;

  text-align: left;
  font-family: sans-serif;
  font-size: 18px;
  color: #000000;
  background: #ffffff;
}

/* A span in which the text is allowed to wrap: used for entity names.  */
span.wrapped {
  word-break: break-all; /* N.B. This is a proposed extension to the CSS standard! */
}

/* Unvisited links */
a:link {
  color: #e10000; /* A bright red. */
}
/* Visited links */
a:visited {
  color: #333298; /* PowerMILL blue. */
}
/* User hovers */
a:hover {
  color: #000000; /* black */
  background: #80ff80; /* A bright green --- like highlighter pen. */
}
/* Active links */
a:active {
  color: #333298; /* PowerMILL blue. */
}

/* A4 is 21.0cm x 29.7cm, the margins are 2.1cm and 2.97cm. That leaves 16.8cm x 23.76. */
div.a4page {
  position: absolute;
  left: 1cm;
  top: 1cm;
  width: 20cm;
  height: 28.7cm;
  margin: 0.0cm;
  padding: 0.0cm;
  border: solid 1px #eeeeee; /* Very faint border, to mark edge of printable region of page. */
}

/* US Letter paper is 21.6cm x 27.9cm. There is no need for a separate CSS class --- the above
settings can be used, resulting in the following margins when printed on US Letter paper.

  Left      2.10cm    (same as for A4),
  Top       2.97cm    (same as for A4),
  Right     2.70cm    (0.60cm larger than with A4),
  Bottom    1.17cm    (0.93cm smaller than with A4).

If paper other than A4 or US Letter is used, then any and all bets are off.

*/

/* Formatting for the navigation frame. */
div.index {
  position: absolute;
  left: 0.5cm;
  top: 0.5cm;
  width: 100%;
  height: auto;
  margin: 0.0cm;
  padding: 0.0cm;
  border: solid 1px #eeeeee;
}

@page {
  size: 21.0cm 29.7cm portrait;  /* a4 paper. */
}

@media print {
  div.a4page {
    left: 0.0cm !important;
    top: 0.0cm !important;
  }
}

div.vspace {
  width: auto;
  height: auto;
}


/* TABLE-SPECIFIC FORMATTING: */

table {
  cellspacing: 2px;
  width: 100%;
  table-layout: auto;

  page-break-inside: always;
}

thead {
  display: table-header-group;
}
tp {
  text-align: left;
  font-size: 25px;
}

ty {
  text-align: left;
  font-size: 17px;
}

th {
  background: #dddddd;
  color: #000000;
  padding: 0px 4px;
  text-align: left;
  border: solid 1px #cccccc;
  font-size: 12px;
}

td {
  margin: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 4px;
  padding-right: 4px;
  border: solid 1px #cccccc;
  font-size: 10px;
}

/* White text in a coloured box. */
td.title {
  background: #333298; /* PowerMILL blue. */
  color: #ffffff;
  border-style: none;
  font-weight: bold;
  font-size: 17px;
}

tr.summary {
  background: #eeeeee;
}

tr.full_summary {
  background: #cccccc;
  color: #000000;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 4px;
  padding-left: 4px;
  text-align: left;
  border: solid 1px #aaaaaa;
  font-weight: bold;
  font-size: 12px;
  font-family: sans-serif;
  border: solid 1px #aaaaaa;
}


/* ERROR MESSAGE FORMATTING: */

div.error {
  color: #ff0000; /* red */
  font-weight: bold;
  font-size: 17px;
  text-align: center;
  width: 16.8cm;
  height: auto;
  padding-top: 1.0cm;
  padding-right: 0.0cm;
  padding-bottom: 1.0cm;
  padding-left: 0.0cm;
  margin: 2px;
  border: solid 1px #cccccc;
}

#regen_link {
  text-decoration: underline;
  cursor: hand;
}


/* FORMATTING FOR THE BROWSER CONTROLS: */

table.browser_controls {
  font-weight: bold;
  color: #000000;
  background: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
  border-style: none;
  text-align: center;
}

#back_button {
  background: #cccccc;
  border-width: 2px;
  border-style: outset;
  width: 100px;
}

#forward_button {
  background: #cccccc;
  border-width: 2px;
  border-style: outset;
  width: 100px;
}

/* This "pads out" the right-hand side of the table containing the browser contols. */
#dummy_button {
  background: #ffffff;
  border-style: none;
  width: auto;
}


/* IMAGE STUFF */

/* This is used to force images to be centered. */
div.center {
  text-align: center;
}

img {
  page-break-inside: always;
}

img.tool_image {
  width: 178px;
  height: 250px;
  border: solid 1px #eeeeee;
}

img.snapshot_image {
  width: 15cm;
  height: 8cm;
  border: solid 1px #eeeeee;
}

img.logo_image {
  width: 172px;
  height: 273px;
}


/* Microsoft VML stuff, for the automatically-generated PowerMILL tool image. */

v\:* {
  behavior: url(#default#VML);
}
